doctype html
html
	head
	title Tic Tac Toe
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js').
		block content