body {
  padding: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font: 12pt "Comic Sans", "Comic Sans MS", cursive;
  text-align: center;
}

#game {
	width: 360px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.square {
	position: absolute;
	width: 115px;
	height: 115px;
	border: 5px solid black;
	border-collapse: collapse;
	font-size: 40pt;
	vertical-align: middle;
}