body {
  padding: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12pt;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-align: center;
  color: #1A334C;
}

button {
	font-size: 12pt;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: #1A334C;
}
#game {
	width: 360px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.square {
	position: absolute;
	width: 115px;
	height: 115px;
	border: 5px solid #1A334C;
	border-collapse: collapse;
	font-size: 50pt;
	vertical-align: middle;
}